<div class="mb-sm">
  <%= question.body %>
</div>

<div class="text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>

  <div>
    <% unless question.hidden %>
      <%= button_to fa_icon('eye-slash'), hide_question_path(question), method: :patch, title: 'Hide question' %>
    <% end %>  
    <%= link_to fa_icon('pencil'), edit_question_path(question), title: 'Change question'%>
    <%= button_to fa_icon('trash-o'), question_path(question), method: :delete, title: 'Delete question', form: {data: {turbo_confirm: 'You want to delete question. Are you sure?'}} %>
  </div>
</div>

