<div class="mb-sm">
  <%= question.body %>
</div>

<% if question.answer.present? %>
  <div class="mb-sm text-dark-red">
    <%= question.answer %>
  </div>
<% end %>

<div class="text-sm question-footer">
  <div class="text-grey">
    <% if question.author %>
      <p>This question is asked by <%= link_to question.author.nickname, user_path(question.author)%></p>
    <% else %>
      <p class="text-underline">The author did not introduce himself</p>
    <% end %> 
    <%= l(question.created_at, format: :short) %>
  </div> 

  <% if current_user == question.user %>
    <div>
      <% unless question.hidden %>
        <%= button_to fa_icon('eye-slash'), hide_question_path(question), method: :patch, title: 'Hide question', class: 'mr-sm' %>
      <% end %>  

      <% edit_icon = question.answer.blank? ? 'reply' : 'pencil' %>
      <%= link_to fa_icon(edit_icon), edit_question_path(question), title: 'Change question', class: 'mr-sm'%>

      <%= button_to fa_icon('trash-o'), question_path(question), method: :delete, title: 'Delete question', form: {data: {turbo_confirm: 'You want to delete question. Are you sure?'}} %>
    </div>
  <% end %>
</div>

